{% include "header.html" %}

<div class="container-fluid bg-2 text-center">
    <h1> Customer Relationship Management system </h1>
    <h2> Hi {{ user.username }}! </h2>
</div>
<div class = "container-fluid bg-3 text-center">
    <h3> About CRM system </h3>
    <h3> The CRM system is filled with data on all past, current, potential candidates in our XYZ agency. The module saves all changes, so a super user does not need to remember anything in order to avoid mistakes with vacancies or candidates later. System analyzes a company's hiring processes and fixes errors in problem areas such as candidates refusal and absences. Considering all the possibilities of the CRM-system, you can get an idea that CRM is a multi-functional system. Since CRM deals with the analysis of all work spheres, this makes it possible to increase the efficiency and productivity of recruiting agencies. Therefore, for recruiting agencies, a separate CRM has been developed, which is necessary to facilitate the management process, simplify candidates monitoring, control the hire quality, and even predict outcomes.
</h3>
</div>
<div class = "container-fluid bg-4 text-center">

</div>
<footer class="container-fluid bg-5 text-center">
  <p> Made By <a href="#">Footer</a></p>
</footer>